<!-- emp_del_act.mustache -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>삭제 결과</title>
    <script>
        alert('삭제된 건수: {{cnt}} 건');
        window.location.href = '/emp_list.do';
    </script>
</head>
<body></body>
</html>
