<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EMP LIST</title>
    <script>
        function fn_add() {
            location.href = "emp_add.do";
        }
    </script>
</head>
<body>
EMP LIST 화면
<table border="1">
    <tr>
        <th>사번</th>
        <th>이름</th>
        <th>성별</th>
        <th>주소</th>
    </tr>
    {{#empList}}
        <tr>
            <td>
                <a href="emp_detail.do?e_id={{e_id}}">
                {{e_id}}
                </a>
            </td>
            <td>{{e_name}}</td>
            <td>{{gen}}</td>
            <td>{{addr}}</td>
        </tr>
    {{/empList}}

    {{^empList}}
        <tr>
            <td colspan="4">조회된 사원 정보가 없습니다.</td>
        </tr>
    {{/empList}}

    <tr>
        <td colspan="4">
            <button onclick="fn_add()">추가</button>
        </td>
    </tr>
</table>
</body>
</html>
